<ul class="nav nav-tabs">
  <li role="presentation" class="<%= active?('page_bots') %>"><%= link_to "Home", page_bot_path(@bot) %></li>
  <li role="presentation"  class="<%= active?('bot_events') %>"><%= link_to "Events", page_bot_bot_events_path(@bot) %></li>
</ul>
