/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 // Custom bootstrap variables must be set or imported *before* bootstrap.
 // Located here https://github.com/twbs/bootstrap-rubygem/blob/master/templates/project/_bootstrap-variables.scss

//Import bootstrap-sprockets
@import "bootstrap-sprockets";

// Import cerulean variables
@import "bootswatch/paper/variables";

// Then bootstrap itself
@import "bootstrap";

// And finally bootswatch style itself
@import "bootswatch/paper/bootswatch";

.navbar-brand {
  padding-top: 0px;
}
.main-container {
  margin-top: 70px;
}

.nav-pic {
  display: inline-block;
  vertical-align: middle;
  width: 28px;
  height: 28px;
  background-color: rgba(0,0,0,.1);
  margin-right: 8px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}

.bot-image {
  background-size: 40px 40px;
  background-position: 0;
  background-repeat: no-repeat;
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  vertical-align: middle;
  display: inline-block;
  margin: -3px 16px 0 24px;
}
